body {
    margin: 0 auto;
    max-width: 50em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 4em, 1em;
    background-color: rgba(0, 0, 0, 0.596);
    color: whitesmoke;
}

.card {
    background-color: grey;
    position: relative;
    left: 35%;
    width: 100%;
    padding: 10px;
}

.header {
    background-color: salmon;
    margin: 10px; 
    position: relative; 
}

.profiilikuva {
    position: relative;
    top: 0;
    left: 0;
    margin: 10px;
    border-radius: 50%;
}
h1 {
    position: absolute;
    top: 0;
    left: 250px;
}

h2 {
    text-transform: uppercase;
}

.about {
    padding: 20px;
}
.info {
    font-size: 14px;
}
.header p {
    position: absolute;
    left: 250px;
    top: 100px;
}
#infobasic {
    width: 50%;
    position: absolute;
}   
#lang {
    position: relative;
    left: 50%;
    top: -40px;
}

ul {
    list-style-type: none;
}
th {
    text-decoration-line: underline;
}

#work th, #work td {
    text-align: left;
    font-size: 14px;
    padding: 10px;
}
#work {
    width: 100%;
    padding: 5px;
    margin: 10px;
}


#edu th, #edu td {
    text-align: left;
    font-size: 14px;
    padding: 10px;
}
#edu {
    width: 90%;
    padding: 5px;
    margin: 10px;
}
.date {
    font-size: 10px;
}
